<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> </div>

            <div class="card" style="width: 80rem;">
                <img height ="500" src="https://previews.123rf.com/images/timbrk/timbrk1602/timbrk160200201/52988969-admin-is-main-figure-at-technical-side-of-website-the-word-admin-is-lined-with-gold-letters-on-woode.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 class="card-title">Welcome to Admin Page</h1>
                  
                </div>
            </div>
    </div>
</div>

