<style>
    .bgm    {
            background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFETc-tav6DELDN9ieeIt6xQQUwrvRsLs18g&usqp=CAU')}
    </style>
<div class="bgm" style="height:700px">
<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h4>ProductName</h4></label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h4>Image</h4></label>
                    <input name="image" [(ngModel)]="image" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h4>Category</h4></label>
                    <input name="category" [(ngModel)]="category" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h4>Price</h4></label>
                    <input name="price" [(ngModel)]="price" type="number" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h4>Description</h4></label>
                    <textarea name="description" [(ngModel)]="description" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-success">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</div>

